@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;

}

body::-webkit-scrollbar {
    width: .5em;

}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #00003e;
}

body::-webkit-scrollbar-thumb {
    background-color: #5732c6;
}

button {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid var(--theam-color);
    border-radius: 30px;
    background-color: transparent;
}

html {
    font-size: 90.6%;
}

:root {
    --theam-color: #1A4DBE;
    --dark-bule: #033678;
    --light-theam-color: #2c3655;
    --secondary-color: #055c2d;
    --white: #ffffff;
    --black: #000000;
    --off-white: #dbdbdb;
    --light-blue: #b0baf1;
}

.all-btn {
    color: var(--white);
    padding: 4px 20px;
    border-radius: 5px;
    width: min(100% - 5px, 50%);
    // margin-inline: auto;
    // margin-bottom: 0;
    margin: 0 auto;
    display: inline-block;
}

.Pending-btn {
    background-color: #B0B0B0;
}

.Rejected-btn {
    background-color: #F94A4A;
}

.Approved-btn {
    background-color: #058E44;
}

.Process-btn {
    background-color: #D4C004;
}

.Accepted-btn {
    background-color: #0050B8;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

input:focus {
    outline: none;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
}

textarea:focus {
    outline: none;
}

button {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid var(--theam-color);
    border-radius: 30px;
    background-color: transparent;
}

.model-card {

    // width: 300px !important;
    .modal-dialog {
        width: 300px;
        height: 200px;
        //   border: 1px solid var(--light-blue);
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        margin-inline: auto;

        .modal-content {
            background-color: transparent !important;
            border: none !important;
        }

        .modal-body {
            text-align: center;
            font-size: 1.3rem;
        }

        .modal-header {
            border: none;

            .btn-close {
                color: var(--black);
            }
        }

        .modal-footer {
            border: none;
            display: flex;
            justify-content: space-around;

            .Cancel-btn {
                height: 34px;
                width: 100px;
                box-shadow: 0 20px 20px rgba(26, 77, 190, .2);

            }

            .Logout-btn {
                height: 34px;
                width: 100px;
                background-color: var(--theam-color);
                color: var(--white);
                transition: all .3s;
                box-shadow: 0 20px 20px rgba(26, 77, 190, .2);

                &:hover {
                    background-color: transparent;
                    color: var(--black);

                }
            }
        }
    }
}

#side_nav {
    min-width: 250px;
    max-width: 250px;
    transition: all ease-in-out 0.5s;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.sidebar {
    background-color: var(--theam-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .header-box {
        height: 70px;
        display: flex;
        justify-content: space-between;
        background-color: var(--dark-bule);
        align-items: center;

        h1 {
            display: flex;
            align-items: center;

            .img-box {
                display: block;
                float: left;
                width: 70px;
            }
        }

        .close-btn {
            margin-right: 10px;
            color: var(--white);
        }
    }

    .ul-section {
        margin-top: 50px;

        .active {

            background: var(--white);
            position: relative;

            a {
                color: var(--theam-color);
            }
        }

        li {
            background: transparent;
            margin-left: 6px;
            border-radius: 48px 0 0 48px;
            padding: 10px 0;


            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                border-radius: 48px;
                font-size: 16px;
                color: var(--white);
                white-space: nowrap;
                overflow-x: hidden;
                


                transition: width .3s ease;



                .bx {
                    min-width: calc(60px - ((4px + 6px) * 2));
                    display: flex;
                    justify-content: center;
                    font-size: 20px;
                }

            }
        }

        .my-loan-list {
            padding-left: 40px;

            li {
                padding: 5px 5px;
            }
        }

    }

}

.content {
    min-height: 100vh;
    width: 100%;
}






.navbar {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
    background-color: var(--dark-bule);
    height: 70px;

    .open-btn {
        color: var(--white);
    }

    .profile-section {
        width: 100%;
        display: flex;
        color: var(--white);

        .nav-link {
            color: var(--white);
        }

        .user-icon {
            width: 20px !important;
            // position: relative;
            display: block;
            float: left;
            margin-right: 7px;
        }

        .dropdown-menu {
            position: absolute;
            top: 30px;
            width: 100%;
        }
    }
}

.loan-content-body {
    margin-top: 10px;
    padding: 10px 20px;

    .card-setion {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            width: 156px;
            padding: 10px;
            // background-color: #000000;
            border: none;

            .img-box {
                border-radius: 50%;
                background-color: var(--white);
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 12px;
                margin: 10px 0;
            }

            p {
                margin-bottom: 0 !important;
                font-weight: 500;

            }

            h3 {
                font-size: 1.3rem;
                margin: 10px 0;

            }
        }
    }

    .loan-section-table {
        .text-head {
            color: var(--theam-color);
            font-weight: 600;
            margin: 20px 0;

            span {
                position: relative;
                // font-size: 26px;
                z-index: 0;

                &::before {
                    content: "";
                    min-width: 220px;
                    height: 12px;
                    position: absolute;
                    background: #CDDCFE;
                    border-radius: 16px 16px 5px 5px;
                    bottom: 3px;
                    z-index: -1;
                }
            }

            .cashback {
                &::before {
                    content: "";
                    min-width: 120px !important;
                }
            }

            .Refer {
                &::before {
                    content: "";
                    min-width: 150px !important;
                }
            }
            .approved-loan{
                &::before {
                    content: "";
                    min-width: 240px !important;
                }
            }
            .Rejected-loan{
                &::before {
                    content: "";
                    min-width: 230px !important;
                }
            }


        }

        .form button {
            border: none;
            background: none;
            color: #8b8ba7;
            width: 50px;
        }

        /* styling of whole input container */
        .form {
            position: relative;

            height: 40px;
            display: flex;
            align-items: center;
            padding-inline: 0.8em;
            border-radius: 5px;
            transition: border-radius 0.5s ease;
            background: var(--white);
            margin-inline: auto;
            border: 1px solid #ebebeb;

            .input {
                font-size: 0.9rem;
                background-color: transparent;
                width: 100%;
                height: 100%;
                padding-inline: 0.5em;
                padding-block: 0.7em;
                border: none;
            }

            i {
                font-size: 17px;
                color: #8b8ba7;
            }
        }

        /* here is code of animated border */
        .form:focus-within:before {
            transform: scale(1);
        }

        /* styling of close button */
        /* == you can click the close button to remove text == */
        .reset {
            border: none;
            background: none;
            opacity: 0;
            visibility: hidden;
        }

        /* close button shown when typing */
        input:not(:placeholder-shown)~.reset {
            opacity: 1;
            visibility: visible;
        }


        .pagination {
            display: inline-block;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid var(--off-white);

        }

        .pagination a.active {
            background-color: var(--theam-color);
            color: white;
            border: 1px solid var(--theam-color);
        }

        .pagination a:hover:not(.active) {
            background-color: var(--light-blue);
        }

        .pagination a:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .pagination a:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }


        .btn-section {
            display: flex;
            justify-content: flex-end;

            .view-btn {
                border-radius: 3px !important;
                height: 36px;
                font-weight: 600;
                color: var(--theam-color);
                width: 130px;
            }
        }

        .table {
            // border-spacing:0 5px;
            min-width: 1020px;

            thead {
                tr {
                    th {
                        text-align: center;
                        padding: 10px 0;
                        color: var(--theam-color);
                        font-size: 1.2rem;
                    }
                }
            }

            tbody {
                tr {

                    td {
                        text-align: center;
                        padding: 10px 0;
                        color: rgba(0, 0, 0, 0.64);
                        font-weight: 600;

                        i {
                            color: rgba(0, 0, 0, 0.64);

                        }
                    }

                }
            }
        }
    }


    .invite-section {
        .input-box {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            padding: 10px 10px;
            border-radius: 5px;
            border: 1px solid var(--light-blue);

            input {
                border: none;
                outline: none;
                width: 100%;
            }

            i {
                font-size: 17px;

                &:hover {
                    color: var(--theam-color);
                }
            }
        }

        .icon-section {
            display: flex;
            margin-top: 20px;

            i {
                color: rgba(0, 0, 0, 0.64);
                ;
                margin: 10px 10px;
                font-size: 18px;

                &:hover {
                    color: var(--theam-color);
                }
            }
        }
    }

}

.profile-page-section {
    margin-top: 20px;

    .nav-link {
        font-size: 1.3rem;
    }

    .form {
        width: min(100% - 20px, 80%);
        margin-inline: auto;
        box-shadow: 0 8px 30px -7px #c9dff0;
        border-radius: 10px;
        padding: 2rem 5rem;

        .m-basics {
            margin: 1rem 0;
        }

        label {
            color: var(--light-theam-colo);
            margin-bottom: 5px;
            font-weight: 600;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        select {
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 3px;
            padding: 8px 5px;
            box-shadow: 0 7px 10px -7px #b4b2b2;

            &:focus {
                outline: 1px solid var(--theam-color);
            }
        }

        textarea {
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 3px;
            padding: 8px 5px;
            box-shadow: 0 7px 10px -7px #b4b2b2;

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

                outline: 1px solid var(--theam-color);
            }
        }

        input {
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 3px;
            padding: 8px 10px;
            box-shadow: 0 7px 10px -7px #ddd9d9;

            &:focus {
                // box-shadow: 7px 00px 10px rgba(26,77,190,.2);
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                outline: 1px solid var(--theam-color);
            }
        }

        .btn-section {
            display: flex;
            justify-content: end;
            margin-top: 20px;

            .profile-btn {
                color: white;
                background-color: var(--theam-color);
                box-shadow: 0 20px 20px rgba(26, 77, 190, .2);
                margin-bottom: 20px;
                width: 150px;
                padding: 10px 30px !important;
                transition: all .3s;

                &:hover {
                    background-color: transparent;
                    color: var(--black);
                }
            }
        }
    }

    .kyc-details {
        h4 {
            margin-left: 15px;
            font-size: 1.3rem;
        }

        .input-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--light-gray) !important;
            border-radius: 50px;
            background-color: white;
            box-shadow: 0 12px 24px rgba(47, 65, 129, .1);

            &:hover {
                border: 1px solid var(--theam-color);
            }

            i {
                margin-right: 20px;
            }
        }

        .upload-box {
            font-size: 14px;
            // padding: 10px ;
            outline: none;
            border: none;

            &::-webkit-file-upload-button {
                padding: 10px;
                color: white;
                background-color: var(--theam-color);
                border-radius: 50px;
                width: 120px;
                // box-shadow: 1px 0 1px 1px #6b4559;
                outline: none !important;
                border: none !important;
            }

            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }
}

@media (max-width:991px) {
    .profile-page-section {
        margin-top: 20px;

        .form {
            width: min(100% - 20px, 90%);
            margin-inline: auto;
            box-shadow: 0 8px 30px -7px #c9dff0;
            border-radius: 10px;
            padding: 2rem;
        }
    }
}

@media (max-width:767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 9999;
    }

    #side_nav.active {
        margin-left: 0;
    }

    .profile-section {
        width: auto !important;
    }


    .loan-content-body .card-setion {
        justify-content: center;

        .card {
            width: 285px !important;
        }
    }
    .loan-content-body .loan-section-table {
        .text-head {
            span {
                &::before {
                    content: "";
                    min-width: 182px;
                }
            }

            .cashback {
                &::before {
                    content: "";
                    min-width: 100px !important;
                }
            }

            .Refer {
                &::before {
                    content: "";
                    min-width: 131px !important;
                }
            }
            .approved-loan{
                &::before {
                    content: "";
                    min-width: 204px !important;
                }
            }
            .Rejected-loan{
                &::before {
                    content: "";
                    min-width: 192px !important;
                }
            }
            .Pending-loan{
                &::before {
                    content: "";
                    min-width: 192px !important;
                }
            }

        }
    }

}



@media (min-width:1500px) {

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1500px !important;
    }
}

@media (min-width:1400px) {

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1700px !important;
    }
}