@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #00003e;
}

body::-webkit-scrollbar-thumb {
  background-color: #5732c6;
}

button {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  border: 1px solid var(--theam-color);
  border-radius: 30px;
  background-color: transparent;
}

html {
  font-size: 90.6%;
}

:root {
  --theam-color: #1A4DBE;
  --dark-bule: #033678;
  --light-theam-color: #2c3655;
  --secondary-color: #055c2d;
  --white: #ffffff;
  --black: #000000;
  --off-white: #dbdbdb;
  --light-blue: #b0baf1;
}

.all-btn {
  color: var(--white);
  padding: 4px 20px;
  border-radius: 5px;
  width: min(100% - 5px, 50%);
  margin: 0 auto;
  display: inline-block;
}

.Pending-btn {
  background-color: #B0B0B0;
}

.Rejected-btn {
  background-color: #F94A4A;
}

.Approved-btn {
  background-color: #058E44;
}

.Process-btn {
  background-color: #D4C004;
}

.Accepted-btn {
  background-color: #0050B8;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

button {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  border: 1px solid var(--theam-color);
  border-radius: 30px;
  background-color: transparent;
}

#side_nav {
  min-width: 250px;
  max-width: 250px;
  transition: all ease-in-out 0.5s;
}

.sidebar {
  background-color: var(--theam-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sidebar .header-box {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-bule);
}
.sidebar .header-box h1 {
  display: flex;
  align-items: center;
}
.sidebar .header-box h1 .img-box {
  display: block;
  float: left;
  width: 70px;
}
.sidebar .ul-section {
  margin-top: 50px;
}
.sidebar .ul-section .active {
  background: var(--white);
  position: relative;
}
.sidebar .ul-section .active a {
  color: var(--theam-color);
}
.sidebar .ul-section li {
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 10px 0;
}
.sidebar .ul-section li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--white);
  white-space: nowrap;
  overflow-x: hidden;
  transition: width 0.3s ease;
}
.sidebar .ul-section li a .bx {
  min-width: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.sidebar .ul-section .my-loan-list {
  padding-left: 40px;
}
.sidebar .ul-section .my-loan-list li {
  padding: 5px 5px;
}

.content {
  min-height: 100vh;
  width: 100%;
}

.navbar {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--dark-bule);
  height: 70px;
}
.navbar .open-btn {
  color: var(--white);
}
.navbar .profile-section {
  width: 100%;
  display: flex;
  color: var(--white);
}
.navbar .profile-section .nav-link {
  color: var(--white);
}
.navbar .profile-section .user-icon {
  width: 20px !important;
  display: block;
  float: left;
  margin-right: 7px;
}
.navbar .profile-section .dropdown-menu {
  position: absolute;
  top: 30px;
  width: 100%;
}

.loan-content-body {
  margin-top: 10px;
  padding: 10px 20px;
}
.loan-content-body .card-setion {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.loan-content-body .card-setion .card {
  width: 150px;
  padding: 10px;
  border: none;
}
.loan-content-body .card-setion .card .img-box {
  border-radius: 50%;
  background-color: var(--white);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 10px 0;
}
.loan-content-body .card-setion .card p {
  margin-bottom: 0 !important;
  font-weight: 500;
}
.loan-content-body .card-setion .card h3 {
  font-size: 1.3rem;
  margin: 10px 0;
}
.loan-content-body .loan-section-table .text-head {
  color: var(--theam-color);
  font-weight: 600;
  margin: 20px 0;
}
.loan-content-body .loan-section-table .btn-section {
  display: flex;
  justify-content: flex-end;
}
.loan-content-body .loan-section-table .btn-section .view-btn {
  border-radius: 3px !important;
  height: 36px;
  font-weight: 600;
  color: var(--theam-color);
  width: 130px;
}
.loan-content-body .loan-section-table .table {
  min-width: 1020px;
}
.loan-content-body .loan-section-table .table thead tr th {
  text-align: center;
  padding: 10px 0;
  color: var(--theam-color);
  font-size: 1.2rem;
}
.loan-content-body .loan-section-table .table tbody tr td {
  text-align: center;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 600;
}
.loan-content-body .loan-section-table .table tbody tr td i {
  color: rgba(0, 0, 0, 0.64);
}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 9999;
  }
  #side_nav.active {
    margin-left: 0;
  }
  .profile-section {
    width: auto !important;
  }
  .loan-content-body .card-setion {
    justify-content: center;
  }
  .loan-content-body .card-setion .card {
    width: 285px !important;
  }
}
@media (min-width: 1500px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1700px !important;
  }
}/*# sourceMappingURL=style.css.map */